/* global-section */
*{
    margin: 0;
    padding: 0;
}


/* header */

/* navbar */
.navbar{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}
.logo img{
    max-width: 150px;
    height: 60px;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.navbar ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
}
.navbar .btn{
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: semi-bold;
    color: #FFFFFF;
}
/* banner-section */
#banner-section{
    background-image: url(../assets/hero-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
}
.banner-content{
    max-width: 1296px;
    margin: 0 auto;

}
.banner-btn .btn{
    padding: 8px 12px;
    margin-bottom: 16px;
    color: #30B868;
    border-radius: 1000px;
    border: none;
    gap: 6px;
}
.banner-content .content-text{
    /* font-size: 72px; */
    /* line-height: 84px; */
    width: 780px;
    text-align: center;
    margin: 0 auto;
}
.content-text h1{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}
.content-text span{
    font-size: 80px;
    color: #30B868;
}
.content-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0 80px;
    margin-bottom: 32px;
}
.bannner-btn .btn{
    padding: 16px 24px;
    font-size: 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    
}
.bannner-btn .secondary-btn{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
/* main-section */

#problem-section{
    text-align: center;
}
.problem-content h2{
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
}
.problem-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
.problem-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1536px;
    margin: 0 auto;
    width: 71%;
    gap: 20px;
}
.cards{
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 -4px 20px rgba(0,0,0,0.1);
}

.icon-bg{
  width: 40px;
  height: 40px;
  background-color: #F95555;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 15px;
}
.icon-bg img{
  width: 20px;
  height: auto;
}
.cards h2{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #001931;
}
.cards p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}