/* global-section */
* {
  margin: 0;
  padding: 0;
  font-family: innter;
}

body {
  font-family: "Inter", sans-serif;
}

/* header */

/* navbar */
.navbar {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  align-items: center;
}
.logo img {
  max-width: 150px;
  height: 60px;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 32px;
}
.navbar ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
}
.navbar .btn {
  padding: 12px 16px;
  background-color: #30b868;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}
/* banner-section */
#banner-section {
  background-image: url(../assets/hero-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  background-size: cover;
}
.banner-content {
  max-width: 1296px;
  margin: 0 auto;
}
.banner-btn .btn {
  padding: 8px 12px;
  margin-bottom: 16px;
  color: #30b868;
  border-radius: 1000px;
  border: none;
  gap: 6px;
}
.banner-content .content-text {
  width: 780px;
  text-align: center;
  margin: 0 auto;
}
.content-text h1 {
  font-size: 72px;
  font-weight: 700;
  color: #ffffff;
}
.content-text span {
  font-size: 80px;
  color: #30b868;
}
.content-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  padding: 0 80px;
  margin-bottom: 32px;
}
.bannner-btn .btn {
  padding: 16px 24px;
  font-size: 16px;
  background-color: #30b868;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}
.bannner-btn .secondary-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 16px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}
/* main-section */

#problem-section {
  text-align: center;
}
.problem-content h2 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 30px;
}
.problem-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 44px;
}
.problem-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1536px;
  margin: 0 auto;
  width: 71%;
  gap: 20px;
}
.cards {
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
}

.icon-bg {
  width: 40px;
  height: 40px;
  background-color: #f95555;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 15px;
}
.icon-bg img {
  width: 20px;
  height: auto;
}
.cards h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #001931;
}
.cards p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}

/* brain-section */
#brain-section {
  margin: 120px;
}
.brain-info {
  max-width: 100%;
  width: 87%;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}
.brain-images img {
  max-width: 100%;
  height: auto;
}
/* brain-content */
.brain-content {
  margin: 102px 0;
}
.brain-text .upeer {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #30b868;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.brain-text h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  line-height: 100%;
  margin-bottom: 16px;
}
.brain-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
/* point */

/* check-point */
.check-point {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
}
.check-point p {
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  color: #001931;
}

/* access-info */
#access-info {
  max-width: 100%;
  width: 87%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f6f2;
  min-height: 384px;
  text-align: center;
  margin-bottom: 120px;
  border-radius: 10px;
}
.info h2 {
  font-size: 40px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
.info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #627382;
  margin-bottom: 24px;
}
.info button {
  padding: 12px 16px;
  background-color: #30b868;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: semi-bold;
  color: #ffffff;
  margin-bottom: 16px;
  cursor: pointer;
}

/* footer */
.footer-section {
  background-color: #001931;
  max-width: 100%;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 100px 100px;
}
.social-link p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

/* copyright */
.copyright {
  text-align: center;
  color: #ffffff;
  padding: 30px 0;
}
.copyright p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fafafa;
}
.social-icon img{
    margin-right: 10px;
}
    